<div class="banner" id="index_banner">
  <div class="container">
    <h1 class="text-center">All our movie lists</h1>
    <p class="text-center">View and review all your favorite movies</p>
  </div>
</div>
<div class="container mt-4 index-wrapper">
  <% @lists.each do |list| %>
    <%= link_to  list_path(list), class:"card-category" do %>
      <p><%= list.name %></p>
    <% end %>
  <% end %>
</div>